@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #FFF8F8;
  font-family: "Poppins", sans-serif;
  /* width: 100vw; */
  /* font-weight: 100;
  font-style: normal; */

}

.katalog:hover{
  transition: 0.23s;
  color: black !important;
  transform: scale(1.05);
}

.login:hover{
  transform: scale(1.06);
  transition: 0.24s;
  color: black;
}

.Image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.kartu {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  /* border:4px solid rgba(0, 0, 0, 0.678); */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 50vh;
  width: 85vw;
  overflow: hidden;
  /* padding: 2em; */
  background-size: cover;
  background-image: url(../images/gambarakademiya1.png);
}


.kotak {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  padding: 2em;
}

.card {
  width: 280px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.card__img,
.card__img--hover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 220px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__img {
  visibility: hidden;
}

.card__img--hover {
  position: absolute;
  top: 0;
  transition: 0.3s all ease-out;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.2;
}

.card__info {
  /* background-color: #fff; */
  padding: 16px 20px 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: relative;
  z-index: 2;
}

.card__category {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #666666;
}

.card__title {
  margin: 8px 0 12px;
  font-family: 'Poppins', serif;
  font-size: 1.1em;
}

.card__by {
  font-size: 13px;
  color: #555;
}

.card__author {
  color: #AD7D52;
  text-decoration: none;
  font-weight: bold;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  top: 0;
  opacity: 0;
  z-index: 3;
}

.card:hover .card__info-hover {
  opacity: 1;
}

.card__like {
  width: 18px;
}

.card__clock-info {
  float: right;
}

.card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #AD7D52;
}

.card__time {
  font-size: 15px;
  color: #000000;
  margin-left: 5px;
}

.card__buttons {
  margin-top: 1em;
  display: flex;
  gap: 0.5em;
}

.card__buttons a {
  flex: 1;
  text-align: center;
  padding: 8px 10px;
  font-size: 0.9em;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* .card__buttons .info-btn {
  background-color: #17a2b8;
}

.card__buttons .pinjam-btn {
  background-color: #ffc107;
  color: #333;
} */

.kateg {
  /* margin: 2em; */
  color: black;
  text-decoration: none;
  position: absolute;
  left: 82vw;
}

.Image.bawah {
  margin-top: 10em;
  margin-bottom: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kartu.bawah {
  background-image: url(../images/depan5.png);
  height: 45vh;
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txtjoin{
  max-width: auto;
  max-height: auto;
  /* box-shadow: 10px 13px 10px 7px rgba(0, 0, 0, 0.1); */
}

.footer {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  /* border: 3px solid red; */
  height: 10vh;
  width: 99.2vw;
}

.logo {
  display: flex;
  position: relative;
  gap: 25px;
}

.logo li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.logo li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

.logo li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

.logo li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.logo li:hover::before {
  opacity: 1;
}

.logo li:hover::after {
  opacity: 0.5;
}

.logo li ion-icon {
  color: #777;
  font-size: 1.75em;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.logo li:hover ion-icon {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

.logo li span {
  position: absolute;
}

.logo li .title {
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.logo li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}